.footer
    .footer__contact
        ul
            li.title Ramada Hotel & Suites by Wyndham Ha Long Bay View
            li
                i.bi.bi-map 
                | Tô Hiến Thành, Trần Hưng Đạo, TP. Hạ Long
            li 
                i.bi.bi-telephone-fill
                | (+84) 024 555 5555
            li 
                i.bi.bi-envelope
                | projeck@gmail.com
    
    .footer__navigation
        section.navigation-items
            ul.navigation-items__menu
                li Hạng phòng
                li Serviced Apartments
                li Ưu Đãi
                li Hội nghị & Sự kiện
                li Tiệc cưới (Sắp có)
                li Dịch vụ & Tiện ích
                li Thư viện
                li Du lịch thực tế ảo
        section.navigation-items
            ul.navigation-items__menu
                li Điểm đến ở Hạ Long
                li Nhà hàng xung quanh
                li Vị trí
                li FAQ
                li Đánh giá về chúng tôi
                li Tin Tức
                li Liên hệ