
header
    .container
        .menu
            a(href="#") 
                i.bi.bi-list
            nav.nav 
                ul.nav-list  
                    +items('TRANG CHỦ')
                    +items('CHỦ ĐẦU TƯ')
                    +items('VỊ TRÍ DỰ ÁN')
                    +items('TỔNG QUAN DỰ ÁN')
                    +items('TIỆN ÍCH DỰ ÁN')
                    +items('CHÍNH SÁCH DỰ ÁN')
                    +items('TIN TỨC')
                    +items('LIÊN HỆ')
        .logo
            a(href="#") 
                img(src="../sass/img/logonew.png", alt="logo")
        .hotline 
            i.bi.bi-telephone-fill
            span.phone 1900  1900
    
    