main
    .slide
        img(src="../sass/img/slide1.jpg", alt="slide")      


    section.content 
        form(action="" class="content-desc")
            h2.title TỔNG QUAN DỰ ÁN
            hr
            p.desc
                +desc('Dự án Hạ Long Bay View ', '– Tiếp nối sự thành công của dự án Lạc Hồng Lotus 1 và Lạc Hồng Lotus 2 khu Ngoại Giao Đoàn – Hà Nội, Công ty Cổ Phần Đầu Tư Lạc Hồng cho ra mắt thị trường Quảng Ninh dự án Hạ Long Bay View với gần 600 căn hộ đẳng cấp. Dự án được đầu tư hiện đại về hạ tầng kỹ thuật, nằm trong không gian xanh với không khí trong lành và không gian yên tĩnh, đảm bảo cuộc sống văn minh, thuận lợi cho dân cư sinh sống, đồng thời góp phần tích cực vào quy hoạch cảnh quan kiến trúc của khu đô thị tại thành phố Hạ Long, tỉnh Quảng Ninh.')
                br
                b Chi tiết >> Tổng quan Dự án Hạ Long Bay View
        .content__items
            img(src="../sass/img/Halong-Bay-Watercolor-Edit-crop-1.jpg", alt="content-img")
    
    section.content-after
        .content__items
            img(src="../sass/img/HL-Arielview05_181010-200090.jpg", alt="content-img")
        form(action="" class="content-after__desc")
            h2.title QUY MÔ DỰ ÁN
            hr
            ul.list 
                li Tên dự án: Hạ Long Bay View
                li Chủ đầu tư: Công ty cổ phần đầu tư Lạc Hồng
                li Vị trí: Phường Trần Hưng Đạo, Thành phố Hạ Long, Quảng Ninh
                li Ðơn vị tư vấn thiết kế: Tổng công ty Tư vấn XD Việt Nam
                li Ðơn vị thi công: Công ty Cổ phần Ðầu tư Lạc Hồng
                li Tư vấn giám sát: Công ty CP Tư vấn và Kiểm định XD Hạ Long
                li Tổng diện tích khu đất: 3.392,2 m2 
                li Diện tích xây dựng: 2.527 m2
                li Tổng diện tích tầng hầm: 3.127m2
                li Tổng số căn hộ: 568 căn
                li Bàn giao : quý I/2019
    section.layout 
        .title 
        
            h2 CĂN HỘ MẪU HẠ LONG BAY VIEW
        
        .items 
            img(src="../sass/img/BON03638-scaled.jpg", alt="2 phòng ngủ", class="big-img")
            img(src="../sass/img/BON03654-1-scaled.jpg", alt="1 phòng ngủ", class="small-img")
            img(src="../sass/img/DSC08099-scaled.jpg", alt="1 phòng ngủ", class="small-img-after")

    section.register
        h2 Liên hệ với chúng tôi ngay hôm nay để được các chuyên gia tư vấn cụ thể nhất về dự án.
        form(action="") 
                input(type="text" placeholder="Nhập tên của bạn")
                input(type="text" placeholder="Nhập số điện thoại")
                input(type="text" placeholder="Nhập email")
                button.btn Nhận thông tin
                
    

        
        